<%- include ('templates/header'); -%>

    <div class="jumbotron">
        <body>
            <header>
                <center>
                    <h1 class = "title">Final Project</h1>
                </center>
            </header>
            <nav class = "nava">
                <center>
                    <hr width="50%" />
                    <a href = "/"><u>Login</u></a>
                    <a href = "/profile">Profile</a>
                    <a href = "/createaccount">Create</a>
                    <a href = "/travel">Travel</a>
                    <a href = "/admin">Admin</a>
                </center>
            </nav>
            <main>
                <center>
                    <h2>Administrator</h2>
                    
                    <form action="/action_page.php" method="post">
                        <div class="container">
                            <!-- Work in Progress -->
                        </div>
                    </form>
                </center>
            </main>
            <br/><br/><br/>

<%- include ('templates/footer'); -%>