<%- include ('templates/header'); -%>

<nav class = "nava">
        <center>
            <hr width="50%" />
            <a href = "/">LOGIN</a>
            <a href = "/profile">PROFILE</a>
            <a href = "/createaccount">CREATE</a>
            <a href = "/travel">TRAVEL</a>
            <a href = "/locations">LOCATIONS</a>
            <a href = "/admin">ADMIN</a>
            <a href = "/api"><u>API</u></a>
        </center>
    </nav>
    
    
    <header>
            <center>
            <div class="jumbotron">   
            <h1> Check Weather</h1>
            </div>
            </center>
            </div>
            <center> 
            <br><br>
            <div class="search">
            Enter a major City Name: <input type="text" id = "kd" name="KWord"><br>
            Enter the Country: <input type="text" id = "kd2" name="KWord2"><br>
            Check Weather:
            <button onclick="searchWeather()" id = "sw"> Search </button>
            </div>
            </center>
            
            
     </header>
      <br><br>
      <center>
    <div class="result">  
    <div id="result1"></div>
    <div id="result2"></div>
    <div id="result3"></div>
    </div>
            </center>

<%- include ('templates/footer'); -%>