<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href="styles.css">
        <script type="text/javascript" src="js/app.js"></script>
        
        <div class="bgimgcontainer">
            <img src="/img/Spin7.png" alt="spin7" style="width:150px;height:150px;">
        </div>
        <title>Final Project</title>

    </head>
    <body>
        <div class="jumbotron">
            <header>
                <!--<center>-->
                <!--    <h1 class = "title">Final Project</h1>-->
                <!--</center>-->
            </header>

    <nav class = "nava">
        <center>
            <hr width="50%" />
            <a href = "/">LOGIN</a>
            <a href = "/profile"><u>PROFILE</u></a>
            <a href = "/travel">TRAVEL</a>
            <a href = "/locations">LOCATIONS</a>
           
        </center>
    </nav>
    <main>
        <style>
            main, body,header, nav, .jumbotron, .nava {
                background-color: #F65900;
            }
        </style>

        <center>
            <hr>
            <br>
            <div class="bookconfirm">
                Thank you, your Spin Scooter has been booked!
            </div>
            <img src="/img/Spin9.png" alt="spin9" style="width:150px;height:150px;">
            
        </center>
    </main>
    <br/>

<%- include ('templates/footer'); -%>
