<%- include ('templates/header'); -%>

    <nav class = "nava">
        <center>
            <hr width="50%" />
            <a href = "/profile">PROFILE</a>
            <a href = "/travel"><u>TRAVEL</u></a>
            <a href = "/locations">LOCATIONS</a>
          
        </center>
    </nav>
    <style>
    	body, main, .nava, .border, .jumbotron{
    		background-color: #F65900;
    	}
    </style>
    <main>
        <center>
            <hr>
            <br>
            <div class="border">
                <div class="bookconfirm">
                    Thank you, your Spin Scooter has been booked!
                </div>
                <img src="/img/spin9.png" alt="spin9" style="width:150px;height:150px;">
            </div>
            
        </center>
    </main>
    <br/>

<%- include ('templates/footer'); -%>
